.navbar {
  padding-bottom: 0px;
    padding-top: 0px;
  background-color: #f1f1f1;
    z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid blue;
}

.navbar a.active {
  border-bottom: 3px solid blue;
}