<p>Area of interests</p>
<select class="form-control form-control-lg" name="aoi" multiple="multiple">
    {% for aoi in area_of_interests %}
        {% if current_user.is_authenticated and aoi in user.interests %}
            {#            private profile page         #}
            <option value="{{ aoi.id }}" selected> {{ aoi.name }}</option>
        {% else %}
            {#            Register page         #}
            <option value="{{ aoi.id }}"> {{ aoi.name }}</option>
        {% endif %}
    {% endfor %}
</select>
<br>
<input type="text" name="aoi"
       placeholder="Add custom interests (comma separated)"
       class="form-control form-control-lg">