<img src="{{ url_for('static', filename='profile_pics/'+ post.author.profile_pic) }}"
     alt="profile picture"
     style="height:50px; width:50px;">
<h1>{{ post.title }}</h1>
Posted by
<strong>
    <a href="{{ url_for('public_profile',username=post.author.username ) }}">{{ post.author.name }}</a>
</strong>
on
<small>{{ post.created_at.strftime('%Y-%m-%d') }}</small>
<p>{{ post.content }}</p>
<p>{{ post.like_count }} likes</p>

<div>
    {% if current_user.has_liked_post(post) %}
        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
    {% else %}
        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
    {% endif %}
</div>
