{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/'+ post.author.image_file) }}"
             alt="profile picture" style="height:50px; width:50px;">
        <h1>
            <a href="{{ url_for('post_detail',post_id=post.id) }}">{{ post.title }}</a>
        </h1>
        Posted by <strong>{{ post.author.name }}</strong>
        on
        <small>{{ post.created_at.strftime('%Y-%m-%d') }}</small>
        {# Show only first 500 characters of the post #}
        <p>{{ post.content[0:500] }}...</p>
    {% endfor %}
{% endblock content %}