{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
        <div class="media-body">

        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/'+ post.author.profile_pic) }}"
             alt="profile picture" style="height:50px; width:50px;">
        <h1>
            <a class="article-title" href="{{ url_for('post_detail',post_id=post.id) }}">{{ post.title }}</a>
        </h1>
        <div class="article-metadata">
        Posted by <strong>{{ post.author.name }}</strong>
        on
            <small><span class="label label-info">{{ post.created_at.strftime('%Y-%m-%d') }}</span></small>
        </div>
        {# Show only first 500 characters of the post #}
        <p class="article-content">{{ post.content[0:500] }}...</p>
        <p>{{ post.likes|length }} likes</p>

        <div>
            {% if current_user.has_liked_post(post) %}
                <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
            {% else %}
                <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
            {% endif %}
        </div>
        </div>
        </article>
    {% endfor %}
{% endblock content %}