<div id="home" class="container tab-pane active"><br>
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='profile_pics/'+ user.image_file ) }}" alt=""
                 class="img-thumbnail rounded-circle account-img float-left"
                 style="height:150px; width: 150px;">
        </div>
        <div class="col-9"><p style="width: 50px"></p>
            <h3>Name: {{ user.name }}</h3>
            <h3>Username: {{ user.username }}</h3>
            <h3>Email id: {{ user.email }}</h3></div>
    </div>
</div>