{#
follower == current user in session,
followee == user whose profile page is open
#}
<div style="padding-left: 50px;padding-top: 20px">
{% if current_user.is_authenticated %}
    {% if current_user.id != user.id %}
        {% if is_following %}

            <a href="{{ url_for('follow_action', user_id=user.id, action='unfollow') }}" class="btn btn-outline-warning">
                   Unfollow
            </a>
        {% else %}

            <a href="{{ url_for('follow_action', user_id=user.id, action='follow') }}" class="btn btn-outline-success">
                Follow  </a>
        {% endif %}
    {% endif %}
{% endif %}
</div>