<div id="menu1" class="container tab-pane fade"><br>
      <ul>
         {% for username, name in followers %}
                 <div class="card" style="width:250px;height: 350px">
                     <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/'+ user.image_file ) }}" alt="Card image" style="width:100%">
                     <div class="card-body">
                         <p class="card-text">{{ name }}</p>
                         <a href="{{ url_for('public_profile',username=username) }}" class="btn btn-primary">See Profile</a>
                     </div>
                 </div>

         {% endfor %}
      </ul>
    </div>