<div id="menu2" class="container tab-pane fade">
    <div class="table-responsive">
        <table class="table table-hover" style="width: 40%">
            <tbody>
            {% for following in following %}
                <tr>
                    {% if following.username %}
                        <td>
                            <img src="{{ url_for('static', filename='profile_pics/'+ following.profile_pic ) }}" alt=""
                                 class="img-thumbnail rounded-circle account-img float-left"
                                 style="height:70px; width: 70px;">
                        </td>
                        <td>
                            <a href="{{ url_for('public_profile',username=following.username) }}">{{ following.name }}</a>
                        </td>
                    {% else %}
                        <td>
                            <img src="{{ url_for('static', filename='lab_images/'+ following.image ) }}" alt=""
                                 class="img-thumbnail rounded-circle account-img float-left"
                                 style="height:70px; width: 70px;">
                        </td>
                        <td>
                            <a href="{{ url_for('lab_detail',lab_id=following.id) }}">{{ following.name }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>