<div id="menu2" class="container tab-pane fade" style="margin-top: 30px">
    <div class="list-group">
        {% for following in following %}
            {% if following.username %}

                <div class="list-group-item list-group-item-action" style="margin-bottom: 10px">

                    <img
                            src="{{ url_for('static', filename='profile_pics/'+ following.profile_pic ) }}" alt=""
                            class="img-thumbnail rounded-circle account-img float-left"
                            style="height:70px; width: 70px;"></br>
                    <a href="{{ url_for('public_profile',username=following.username) }}">{{ following.name }}</a>
                </div>
            {% else %}
                {% if following.image %}
                    <p class="list-group-item list-group-item-action" style="margin-bottom: 10px">
                        <img src="{{ url_for('static', filename='lab_images/'+ following.image ) }}" alt=""
                             class="img-thumbnail rounded-circle account-img float-left"
                             style="height:70px; width: 70px;">
                        <a href="{{ url_for('lab_detail',lab_id=following.id) }}">{{ following.name }}</a>
                    </p>
                {% endif %}

            {% endif %}

        {% endfor %}

    </div>
</div>

