<div id="menu1" class="container tab-pane fade">
      <div class="table-responsive-sm">
          <table class="table">
              <tbody>
              {% for username, name in followers %}
                  <tr>
                  <td class="col-lg-2"><img src="{{ url_for('static', filename='profile_pics/'+ user.image_file ) }}" alt=""
                 class="img-thumbnail rounded-circle account-img float-left"
                 style="height:70px; width: 70px;"></td>
                  <td class="col-lg-2"><a href="{{ url_for('public_profile',username=username) }}" >{{ name }}</a></td>
                  <td class="=col-lg-8"></td>
                  </tr>
              {% endfor %}
          </tbody>
          </table>
      </div>
</div>