<div id="menu6" class="container tab-pane fade">
    <a class="navbar-brand mr-4" href="{{ url_for('create_lab') }}">Create Lab</a>
    <div class="list-group">
            {% for lab in current_user.lab %}
                <div class="list-group-item list-group-item-action" style="margin-bottom: 10px">
                    <img src="{{ url_for('static', filename='lab_images/'+ lab.image ) }}" alt=""
                             class="img-thumbnail rounded-circle account-img float-left"
                         style="height:70px; width: 70px;"></br>
                    <a href="{{ url_for('lab_detail',lab_id=lab.id) }}">{{ lab.name }}</a>
                </div>

            {% endfor %}

    </div>
</div>