<div id="menu6" class="container tab-pane fade">
    <div class="table-responsive">
        <table class="table table-hover" style="width: 40%">
            <tbody>
            {% for lab in current_user.lab %}
                <tr>

                    <td><img src="{{ url_for('static', filename='lab_images/'+ lab.image ) }}" alt=""
                             class="img-thumbnail rounded-circle account-img float-left"
                             style="height:70px; width: 70px;"></td>
                    <td><a href="{{ url_for('lab_detail',lab_id=lab.id) }}">{{ lab.name }}</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="navbar-brand mr-4" href="labs/create">Create Lab</a>
</div>