<div id="menu4" class="container tab-pane fade" style="margin-top: 30px">
    <div class="list-group">
            {% for user in pendingStudentApprovalList %}
                <div class="list-group-item list-group-item-action" style="margin-bottom: 10px">
                    <img src="{{ url_for('static', filename='profile_pics/'+ user.profile_pic ) }}" alt=""
                             class="img-thumbnail rounded-circle account-img float-left"
                         style="height:70px; width: 70px;"><br/>
                <a href="{{ url_for('public_profile',username=user.username) }}">{{ user.name }}</a><br/>
                    <a href="{{ url_for('approve_request', user_id=user.id, action='accept') }}"
                           class="btn btn-outline-success">
                        Approve </a>
                    <a href="{{ url_for('approve_request', user_id=user.id, action='delete') }}"
                           class="btn btn-outline-success">
                        Delete </a>
                </div>
            {% endfor %}
    </div>
</div>